{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% block bradcam_ %}
    
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Password Change</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    {% endblock bradcam_ %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
    <input type="submit" class="boxed-btn3 w-100" value="Change password">
  </form>
{% endblock %}